@font-face{
    font-family: "Trenda";
    src: url("../fonts/Trenda Bold/Trenda-Bold.otf");
}
@font-face{
    font-family: "Trenda semibold";
    src: url("../fonts/Trenda Semibold/Trenda-Semibold.otf");
}
@font-face{
    font-family: "Trenda regular";
    src: url("../fonts/Trenda Regular/Trenda-Regular.otf");
}

body {
    font-family: Trenda;
    font-weight: bold;
}
.cus{
    padding: 0;
}
.wrapper{
    background: url('../img/bg.svg') no-repeat, #02b7b2;
    background-position-y: -50px;
    background-size: 100%;
}
.navbar {
    justify-content: left
}

.bg-light{
    background-color: #ffffff;
}

.navbar-brand {
    margin-right: 100px;
}


.navbar-text h5:first-child{
    font-size: 14px;
    color: #222222;
}


.content{
    padding: 5rem;
    height: 100%;
}
.promote {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}
.promote h3{
    background-color: #004237;
    margin: auto;
    text-align: center;
    width: 80%;
    padding: 30px;
    font-size: 57px;
    color: white;
    display: inline-block;
}
.promote h3:last-child{
    width: 70%;
    transform: rotate(-10deg)
}

.details {
    width: 80%;
    margin: 0 auto;
}

.details p{
    font-family: Trenda semibold;
    font-size: 26px;
    text-align: center;
    color: white;
}

.form{
    font-family: Trenda Regular;
    font-size: 14px;
    font-weight: 500;
    background-color: white;
    height: 100%;
    padding: 50px;
    border-radius: 20px;
}

.form-control{
    background-color: #f5f5f5;
    border-radius: 0px;
}

button[type=submit]{
    background-color: #02b7b2;
    border-radius: 25px;
    width: 90%;
    min-height: 50px;
    margin-top: 30px;
    border: none;
    font-size: 24px;
}
button[type=submit]:hover{
    background-color: #004237;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #004237;
    border-color: rgba(0, 0, 0, 0);
}
primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0rem rgba(0,0,0,0);
    box-shadow: 0 0 0 0rem rgba(0,0,0,0);
}
.message {
    background-color: white;
    padding: 50px;
    border-radius: 20px;
}
.message h3{
    font-size: 50px;
    color: #004237;
}
.message h5{
    font-size: 35px;
    color: #02b7b2;
    margin-bottom: 25px;
}
.message p{
    font-size: 22px;
    margin-bottom: 25px;
}
.share{
    background-color: #004237;
    padding: 5rem;
    position: relative;
    min-height: 100px;
}

.share h3 {
    background-color: white;
    color: #02b7b2;
    padding: 20px;
    margin-top: -100px;
}
.share p{
    color: white;
    font-family: Trenda semibold;
    font-size: 21px;
}
.share img {
    margin:0px 20px;
}

.shipping{
    padding: 5rem;
    height: 100%;
}
.shipp-item img {
    margin-right: 15px;
    float: left;
    height: 50px;
}
.shipp-item h5 {
    font-family: "Trenda regular";
    font-size: 20px;
}


@media screen and (max-width: 767px){
    .wrapper{
        background: url('../img/bg.svg') no-repeat, #02b7b2;
        background-position-y: -50px;

    }
    .navbar {
        flex-direction: column;
        justify-content: center;
    }
    .navbar-brand {
        margin: 0;
    }
    .navbar-text{
        text-align: center !important;
    }
    .content{
        padding: 5rem 0;
    }
    .share, .shipping{
        padding: 1rem;
    }
    .promote {
        position: relative;
        text-align: center;
        margin-bottom: 50px;
    }
    .promote h3{
        font-size: 30px;
    }
    .promote h3:last-child{
        width: 70%;
        transform: rotate(-10deg)
    }
    .details p {
        font-size: 20px;
    }
    .form {
        padding: 25px;
    }
    button[type=submit]{
        width: 90%;
        font-size: 18px;
        border: none
    }
    .message {
        padding: 25px;
    }
    .message h3{
        font-size: 35px;
    }
    .message h5{
        font-size: 20px;
        margin-bottom: 25px;
    }
    .message p{
        font-size: 15px;
        margin-bottom: 25px;
    }
    .share {
        min-height: 250px;
        margin-top: 20px;
    }
    .fix {
        position: relative;
        text-align: center;
        margin: 0 auto;
    }
    .share h3 {
        margin: -55px 12px;
        font-size: 20px;

    }
    .share p{
        margin-top: 40px;
        text-align: center;

    }

    .shipping{
        padding: 30px 70px;
    }

    .shipp-item{
        padding-bottom: 50px;
        text-align: center;
    }

    .shipp-item img {
        margin-right: 15px;
        float: none;
        height: 50px;
        margin-bottom: 20px;
    }
    .shipp-item h5 {
        font-family: "Trenda regular";
        font-size: 20px;
    }
}

@media screen and (max-width: 992px) {
    .content, .share{
        padding: 30px 0;
        margin-bottom: 103px;
    }
    .shipping{
        padding: 30px;
    }
}


@media (width: 320px){
    share h3 {
        font-size: 16px;
        margin: -50px 75px;
    }
}
